{%- block order_fradio_select_widget_expanded -%}
    <div class="custom-select {% if form.vars.attr.class is defined %}{{ form.vars.attr.class }}{% endif %}">
        <div class="custom-select-selected-value"
             title="{% if form.vars.data.translate.text is defined %}{{ form.vars.data.translate.text }}{% endif %}">
            <span>
                {% set ischecked = false %}
                {% for name, choices in form.vars.choices %}
                    {% if choices is not iterable %}
                        {% if form[name].vars.checked %}
                            {% set ischecked = true %}
                            {{ form[name].vars.label|trans([], 'DashboardBundle') }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if ischecked == false %}
                    {% if form.vars.choices|first and form.vars.choices|first is not iterable %}
                        {{ form.vars.choices|first.label|trans([], 'DashboardBundle') }}
                    {% endif %}
                {% endif %}
            </span>
        </div>
        <div class="custom-select-options custom-scrollbar">
            {% for name, choices in form.vars.choices %}
                {% if choices is iterable %}
                {% else %}
                    <label class="custom-select-option"
                           title="{% if choices.data.translate.text is defined %}{{ choices.data.translate.text }}{% endif %}">
                    <span>
                    {% if loop.first == true and form[name].vars.name == '0' %}
                        {{ form[name].vars.label|trans([], 'DashboardBundle') }}
                    {% else %}
                        {{ form[name].vars.label }}
                    {% endif %}
                    </span>
                        {#{% if loop.first == true %}#}
                        {#{{- form_widget(form[name],{#}
                        {#'attr': {#}
                        {#'checked': 'checked'#}
                        {#}#}
                        {#}) -}}#}
                        {#{% else %}#}
                        {{- form_widget(form[name],{'attr': {}}) -}}
                        {#{% endif %}#}
                    </label>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="display-none">{{ form_rest(form) }}</div>
{%- endblock order_fradio_select_widget_expanded -%}

{% block order_entity_type_widget %}
    {% spaceless %}
        {% if expanded %}
            {{- block('order_fradio_select_widget_expanded') -}}
        {% else %}
            {#{{- block('choice_widget_collapsed') -}}#}
        {% endif %}
    {% endspaceless %}
{% endblock order_entity_type_widget %}

{% block order_radio_select_type_widget %}
    {% spaceless %}
        {% if expanded %}
            {{- block('order_fradio_select_widget_expanded') -}}
        {% else %}
            {#{{- block('choice_widget_collapsed') -}}#}
        {% endif %}
    {% endspaceless %}
{% endblock order_radio_select_type_widget %}