<li class="last-news__item news-item infinite-scroll__item">
    <div class="d-flex">
        <time class="news-item__date news-date" timestamp="">
            {{ item.publishAt|localizeddate('short', 'none', 'ru') }}
        </time>
        <a class="news-item__title" href="{{ path('frontend_news_show', {
            'slug': item.translations[item.defaultLocale].slug
        }) }}">{{ item.translate.title }}</a>
    </div>
    <p class="news-item__text">
        {{ item.translate.shortDescription }}
    </p>
</li>