{% for item in elements %}
    {% include 'frontend/news/_element.html.twig' with {
        'item': item,
    } %}
{% endfor %}
{% if isKnpPaginationRender == true %}
    {{ knp_pagination_render(elements) }}
{% endif %}