{% if news|length > 0 %}
    <h3 class="page__sub-subtitle">Лента новостей</h3>
    <div class="last-news">
        <ul class="last-news__list">
            {% for item in news %}
                {% if item.newsCategory %}
                    {% set url =  path('frontend_news_show', {
                        'slug': item.translations[item.defaultLocale].slug,
                        'categorySlug': item.newsCategory.translations[item.newsCategory.defaultLocale].slug,
                    }) %}
                {% else %}
                    {% set url =  path('frontend_news_show', {
                        'slug': item.translations[item.defaultLocale].slug,
                    }) %}
                {% endif %}
                {% if loop.first %}
                    <li class="last-news__item news-item">
                        {% if item.newsCategory %}
                            <a class="news-item__img-wrap lazy-container" href="{{ url }}">
                                <img class="b-lazy news-item__img"
                                     data-src="{{ asset(item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }}"
                                     alt="">
                            </a>
                            <a class="label news-item__label" href="{{ path('frontend_news_category_show', {
                                'slug': item.newsCategory.translations[item.newsCategory.defaultLocale].slug
                            }) }}">
                                {{ item.newsCategory.translate.title }}
                            </a>
                        {% else %}
                            <a class="news-item__img-wrap lazy-container" href="{{ url }}">
                                <img class="b-lazy news-item__img"
                                     data-src="{{ asset(item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }}"
                                     alt="">
                            </a>
                        {% endif %}

                        <div class="d-flex">
                            <time class="news-item__date news-date" timestamp="">{{ item.publishAt|localizeddate('short', 'none', 'ru') }}</time>
                            <a class="news-item__title" href="{{ url }}">
                                {{ item.translate.title }}
                            </a>
                        </div>
                        {% if item.translate.shortDescription is not null %}
                            <p class="news-item__text">{{ item.translate.shortDescription }}</p>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="last-news__item news-item">
                        <div class="d-flex">
                            <time class="news-item__date news-date"
                                  timestamp="">{{ item.publishAt|localizeddate('short', 'none', 'ru') }}</time>
                            <a class="news-item__title" href="{{ url }}">
                                {{ item.translate.title }}
                            </a>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}