{% extends 'base.html.twig' %}

{% block main %}
    {% include 'frontend/default/_breadcrumbs.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 single-news">
                <h1 class="page__title">
                    {% include '@Seo/frontend/_h1.html.twig' %}
                </h1>
                <blockquote class="quote">
                    <time class="news-date" timestamp="">{{ element.publishAt }}</time>
                    {% if element.translate.shortDescription is not null %}
                        <p class="quote__text">{{ element.translate.shortDescription }}</p>
                    {% endif %}
                </blockquote>
                {#<div class="row">#}
                    {#<div class="slider hero-slider hero-slider--fluid--left owl-carousel single-news__slider">#}
                        {#<div class="hero" style="background-image: url(img/temp/hero-1.jpg)"></div>#}
                        {#<div class="hero" style="background-image: url(img/temp/hero-2.jpg)"></div>#}
                        {#<div class="hero" style="background-image: url(img/temp/hero-3.jpg)"></div>#}
                    {#</div>#}
                {#</div>#}

                {{ include('/frontend/homepage/_singleNewsSlider.html.twig', {
                  'newsSlider': newsSlider
                }) }}

                <div class="static-content">
                    {{ element.translate.description|raw }}
                </div>

                <h2 class="page__subtitle">Коментарии</h2>
                {{ form_start(commentForm) }}

                <div class="form__group">
                    {{ form_label(commentForm.name, null, {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(commentForm.name, {'attr': {'class': 'form__input form__input--line--single'}}) }}
                </div>

                <div class="form__group">
                    {{ form_label(commentForm.content, null, {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(commentForm.content, {'attr': {'class': 'form__input form__input--line--multi'}}) }}
                </div>


                    {#<div class="form__group">#}
                        {#<label class="form__label" for="name">Мое имя и фамилия*</label>#}
                        {#<input class="form__input form__input--line--single" id="name">#}
                    {#</div>#}
                    {#<div class="form__group">#}
                        {#<label class="form__label" for="message">Я пишу*</label>#}
                        {#<textarea class="form__input form__input--line--multi" id="message"></textarea>#}
                    {#</div>#}
                    <div class="form__group text-right">
                        <button class="btn">Отправить сообщение</button>
                    </div>
                {{ form_end(commentForm) }}
                <div class="comments single-news__comments">
                    {% for comment in comments %}
                        <div class="comments__item comment">
                            <div class="comment__img-wrap comment__img-wrap--with-img">
                                <img class="comment__img" src="{{ asset('bundles/frontend/img/temp/comments-1.png') }}"
                                     alt="">
                            </div>
                            <blockqoute class="comment__text"><cite class="comment__author">{{ comment.name }}</cite>
                                <br>
                                <time class="comment__date">{{ comment.publishAtWithTime }}</time>
                                <p>{{ comment.content }}</p>
                            </blockqoute>
                        </div>
                    {% endfor %}

                </div>
            </div>
            <aside class="col-12 col-lg-4 sidebar sidebar--with-padding">
                <div class="socials sidebar__socials">
                    <ul class="socials__list">
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="youtube">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#youtube"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="twitter">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#twitter"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="instagram">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="facebook">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook"></use>
                                </svg>
                            </a>
                        </div>
                    </ul>
                </div>
                <a rel="nofollow" class="bnr sidebar__bnr" href="javascript:void(0);">
                    <img src="{{ asset('bundles/frontend/img/temp/banner-2.jpg') }}">
                </a>
                {{ render(controller('FrontendBundle:Frontend:newsFeed')) }}
            </aside>
        </div>
    </div>
    <section class="bnr-section">
        <div class="container">
            <a class="bnr bnr--small" style="background-image: linear-gradient(to right, #1D9CD8, #194382)"></a>
        </div>
    </section>
{% endblock %}