{% include '@Dashboard/default/tabbable/_tabbable.html.twig' with {
    'tabs': {
        'seo': {
            'name': 'sidebar.configuration.seo'|trans([], 'DashboardBundle'),
            'body': form_widget(form.seo)
        },
        'general_info': {
            'name': 'ui.general_info'|trans([], 'DashboardBundle'),
            'body': form_widget(form.translations) ~ form_widget(form.poster) ~form_widget(form.showOnWebsite)
            ~ form_widget(form.position),
        },
    }
} %}