{% extends 'base.html.twig' %}

{% block main %}
    {% include 'frontend/default/_breadcrumbs.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="page__title">Контакты</h1>
                {{ form_start(form, {'attr': {'class': 'form validate-form'}}) }}
                <div class="form__group">
                    {{ form_label(form.name, '*Имя, Фамилия:', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(form.name, {'attr': {
                        'class': 'form__input form__input--line--single',
                        'placeholder': 'Мое имя и фамилия*'
                    }}) }}
                </div>
                <div class="form__group">
                    {{ form_label(form.phone, '*Телефон:', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(form.phone, {'attr': {
                        'class': 'form__input form__input--line--single',
                        'placeholder': 'Телефон',
                    }}) }}
                </div>
                <div class="form__group">
                    {{ form_label(form.email, '*Адрес электронной почты:', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(form.email, {'attr': {
                        'class': 'form__input form__input--line--single',
                        'placeholder': 'Адрес электронной почты:'
                    }}) }}
                </div>
                <div class="form__group">
                    {{ form_label(form.subject, '*Тема сообщения:', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(form.subject, {'attr': {
                        'class': 'form__input form__input--line--single',
                        'placeholder': 'Тема сообщения'
                    }}) }}
                </div>
                <div class="form__group">
                    {{ form_label(form.message, 'Я пишу*', {'label_attr': {'class': 'form__label'}}) }}
                    {{ form_widget(form.message, {'attr': {
                        'class': 'form__input form__input--line--multi',
                        'placeholder': 'Сообщение'
                    }}) }}
                </div>
                <div class="form__group text-right">
                    <button class="btn">Отправить сообщение</button>
                </div>
                {{ form_end(form) }}
                {% set staticContactContent = render(controller('FrontendBundle:Default:getStaticContent', {'page': 'contact'}))|json_decode %}
                {% if staticContactContent['info'] is defined and staticContactContent['info'].text is not empty %}
                    <div class="static-content">
                        {{ staticContactContent['info'].text|raw }}
                    </div>
                {% endif %}
            </div>


            <aside class="col-12 col-lg-4 sidebar sidebar--with-padding">

                {% include 'frontend/default/_sidebar_socials.html.twig' %}

                {{ render(controller('FrontendBundle\\Controller\\DefaultController::initSidebarBannerAction')) }}

                {{ render(controller('FrontendBundle\\Controller\\DefaultController::initSidebarNewsAction')) }}
            </aside>
        </div>
    </div>
{% endblock %}