// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-grid-classes: true !default;
$is-em-media: false;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: null;

@if $is-em-media {
  $grid-breakpoints: (
  xs: 0,
  //  sm: 36em,
  md: 48em,
  lg: 62em,
  xl: 75em
  ) !default
} @else {
  $grid-breakpoints: (
  xs: 0,
  //  sm: 576px,
  //  md: 768px,
  lg: 992px,
  xl: 1200px
  ) !default;  
}

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: null;

@if $is-em-media {
  .container {
    max-width: 75em;
  }
} @else {
    $container-max-widths: (
    //sm: 540px,
    //md: 720px,
    lg: 960px,
    xl: 1140px
  ) !default;

  @include _assert-ascending($container-max-widths, "$container-max-widths");
}

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 45px !default;


