{% set counterup = true %}

{% extends '@Dashboard/standard_layout.html.twig' %}

{% block page_bar %}{% endblock %}

{% block page_title_h1 %}{% endblock %}

{% block content %}
    <div class="row">
        {% if is_granted('ROLE_ORDER_CREATE_EDIT') and countNewOrders is defined %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {% include '@Dashboard/default/_dashboard_stat.html.twig' with{
                    'dashboardColor': constant('DashboardBundle\\Entity\\ColorLibrary::COLOR_19'),
                    'visualIcon': 'icon-basket-loaded',
                    'value': countNewOrders,
                    'desc': 'ui.new_orders'|trans([], 'DashboardBundle'),
                    'href':  path('dashboard_order_index'),
                    'buttonText': 'ui.view_more'|trans([], 'DashboardBundle') ~ ' ( ' ~'sidebar.sales.orders.orders'|trans([], 'DashboardBundle') ~' )',
                    'buttonIcon': 'm-icon-swapright m-icon-white'
                } %}
            </div>
        {% endif %}
        {% if is_granted('ROLE_CALLBACK') and countNewCallbackRequests is defined %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {% include '@Dashboard/default/_dashboard_stat.html.twig' with{
                    'dashboardColor': constant('DashboardBundle\\Entity\\ColorLibrary::COLOR_9'),
                    'visualIcon': 'icon-call-in',
                    'value': countNewCallbackRequests,
                    'desc': 'dashboard_stat.new_requests'|trans([], 'DashboardBundle') ~ ' ( ' ~'sidebar.callback.callback'|trans([], 'DashboardBundle') ~' )',
                    'href': path('dashboard_callback_index'),
                    'buttonText': 'ui.view_more'|trans([], 'DashboardBundle') ~ ' ( ' ~'sidebar.callback.callback'|trans([], 'DashboardBundle') ~' )',
                    'buttonIcon': 'm-icon-swapright m-icon-white'
                } %}
            </div>
        {% endif %}
        {% if is_granted('ROLE_CONTACT') and countNewContactsRequests is defined  %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {% include '@Dashboard/default/_dashboard_stat.html.twig' with{
                    'dashboardColor': constant('DashboardBundle\\Entity\\ColorLibrary::COLOR_57'),
                    'visualIcon': 'icon-envelope-letter',
                    'value': countNewContactsRequests,
                    'desc': 'dashboard_stat.new_requests'|trans([], 'DashboardBundle') ~ ' ' ~ 'dashboard_stat.contact.from_contact_form'|trans([], 'DashboardBundle'),
                    'href': path('dashboard_contact_index'),
                    'buttonText':  'ui.view_more'|trans([], 'DashboardBundle') ~ ' ( ' ~ 'sidebar.contacts.contacts'|trans([], 'DashboardBundle') ~' )',
                    'buttonIcon': 'm-icon-swapright m-icon-white'
                } %}
            </div>
        {% endif %}
    </div>
    <div class="clearfix"></div>
{% endblock %}