include _mixins

block variables

doctype html
html(lang="ru-RU")
    head

        title #{pageTitle}

        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="keywords" content)
        
        link(rel="stylesheet" href="css/main.css")

        block styles

    body.page
        .page__wrapper
            include modules/_header

            main.page__content
                block content

            include modules/_footer

            block popups

            include modules/_scripts

            block script