mixin link(name = '', href = '#')
    a(href=href)&attributes(attributes)= name

mixin icon(id, title = id, path = 'img/icons/svg/sprite.symbol.svg')
    svg(role="img", title=title, class="svg-icon")&attributes(attributes)
        use(xlink:href=`${path}#${id}`)