extends _layout

block variables
    - var pageTitle = 'Станица новости'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    +link('Главная', '/')(class="breadcrumbs__link")
                    +icon('cheveron-right').breadcrumbs__icon
                li.breadcrumbs__item
                    span.breadcrumbs__text Контакты
    .container
        .row
            .col-12.col-lg-8
                h1.page__title Контакты
                form.form.validate-form
                    .form__group
                        label.form__label(for="name") Мое имя и фамилия*
                        input.form__input.form__input--line--single#name
                    .form__group
                        label.form__label(for="name") Email*
                        input.form__input.form__input--line--single#name
                    .form__group
                        label.form__label(for="name") Тема*
                        input.form__input.form__input--line--single#name
                    .form__group
                        label.form__label(for="message") Я пишу*
                        textarea.form__input.form__input--line--multi#message
                    .form__group.text-right
                        button.btn Отправить сообщение
                .static-content
                    p «Ранпресс» 160 000 г. Вологда, ул. Марии Ульяновой, д.13
                    p Тел.: 8-900-543-33-11
                    p Адрес электронной почты:
                    p ran-press@yandex.ru
                    p Почта администратор сайта:
                    p site-info@startupdream.ru
                    p Email: ran-press@yandex.ru
            aside.col-12.col-lg-4.sidebar.sidebar--with-padding
                .socials.sidebar__socials
                    ul.socials__list
                        .socials__item
                            a.socials__link(href="#")
                                +icon('youtube')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('twitter')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('instagram')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('facebook')(class="socials__icon")
                a.bnr.sidebar__bnr(href="#")
                    img(src="img/temp/banner-2.jpg")
                h3.page__sub-subtitle Лента новостей
                .last-news
                    ul.last-news__list
                        each lastNewsItem in lastNews['lastNews']
                            li.last-news__item.news-item
                                if lastNewsItem.img
                                    a.news-item__img-wrap.lazy-container(href="#")
                                        img.b-lazy.news-item__img(data-src=lastNewsItem.img, alt="")
                                    +link('Политика')(class="label news-item__label")
                                .d-flex
                                    time.news-item__date.news-date(timestamp="")= lastNewsItem.date
                                    +link(lastNewsItem.title).news-item__title
                                if lastNewsItem.text
                                    p.news-item__text= lastNewsItem.text

    section.bnr-section
        .container
            a.bnr.bnr--small(style="background-image: linear-gradient(to right, #1D9CD8, #194382)")

    section
        .container
            h2.page__subtitle О проекте
            .hide-show
                .hide-show__content.static-content
                    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                .hide-show__toggle
                    span.hide-show__show-text Раскрыть полностью
                    span.hide-show__hide-text Скрыть