extends _layout

block variables
    - var pageTitle = 'Главная страница'

block content
    section.bnr-section.d-none.d-lg-block
        .container
            a.bnr(href="#")
                img.bnr__img(src="img/temp/banner-1.png", alt="")
    .container
        .row
            .col-12.col-lg-8
                .row
                    .slider.hero-slider.hero-slider--offset--right.hero-slider--fluid--left.owl-carousel
                        each hero in heroes['heroes']
                            .hero.owl-lazy(data-src=hero.img)
                                +link(hero.label)(class="label")
                                +link(hero.title, '/news-item.html').hero__title
                                p.hero__text= hero.text
                    .col-12.col-lg-6
                        h3.page__sub-subtitle Лента новостей
                        .last-news
                            ul.last-news__list
                                each lastNewsItem in lastNews['lastNews']
                                    li.last-news__item.news-item
                                        if lastNewsItem.img
                                            a.news-item__img-wrap.lazy-container(href="#")
                                                img.b-lazy.news-item__img(data-src=lastNewsItem.img, alt="")
                                            +link('Политика')(class="label news-item__label")
                                        .d-flex
                                            time.news-item__date.news-date(timestamp="")= lastNewsItem.date
                                            +link(lastNewsItem.title).news-item__title
                                        if lastNewsItem.text
                                            p.news-item__text= lastNewsItem.text
                        .text-center
                            +link('Все новости')(class="btn")
                    .col-12.col-lg-6
                        h3.page__sub-subtitle Видео
                        .videos
                            .video-wrap.videos__item
                                iframe.video-wrap__video(src="https://www.youtube.com/embed/71Es-8FfATo?&controls=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                            .video-wrap.videos__item
                                iframe.video-wrap__video(src="https://www.youtube.com/embed/TNX0-JLdM_U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                        .text-center
                            +link('Все видео')(class="btn")
                        h3.page__sub-subtitle Популярное
                        ul.last-news__list
                            -var k = 0;
                            while k < 2
                                li.last-news__item.news-item
                                    a.news-item__img-wrap.lazy-container(href="#")
                                        img.b-lazy.news-item__img(data-src=lastNews['lastNews'][0].img, alt="")
                                    +link('Политика')(class="label news-item__label")
                                    .d-flex
                                        time.news-item__date.news-date(timestamp="")= lastNews['lastNews'][0].date
                                        +link(lastNews['lastNews'][0].title).news-item__title
                                    p.news-item__text= lastNews['lastNews'][0].text
                                - k++;
            aside.col-12.col-lg-4.sidebar
                .date.sidebar__date
                    span.date__day Пятница
                    br
                    time.date__date(timestamp="") 22 июня, 2018
                .logo.sidebar__logo
                    img(src="img/logo-blue.svg")
                .socials.sidebar__socials
                    ul.socials__list
                        .socials__item
                            a.socials__link(href="#")
                                +icon('youtube')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('twitter')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('instagram')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('facebook')(class="socials__icon")
                a.bnr.sidebar__bnr(href="#")
                    img(src="img/temp/banner-2.jpg")
                h3.page__sub-subtitle Мнения
                .opinions
                    each opinionItem in opinions['opinions']
                        .opinion.opinions__item
                            .opinion__img-wrap
                                img.opinion__img(src=opinionItem.img, alt="")
                            .opinion__info
                                span.opinion__author= opinionItem.author
                                p.opinion__text= opinionItem.text
                h3.page__sub-subtitle Инфографика
                .infographics
                    each infographicsItem in infographics['infographics']
                        .infographics-item
                            .infographics-item__img-wrap
                                img.infographics-item__img(src=infographicsItem.img, alt="")
                            .infographics-item__text= infographicsItem.text
                h3.page__sub-subtitle Календарь событий
                .calendar#calendar

    section.bnr-section
        .container
            a.bnr.bnr--small(style="background-image: linear-gradient(to right, #1D9CD8, #194382)")

    section
        .container
            h2.page__subtitle О проекте
            .hide-show
                .hide-show__content.static-content
                    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                .hide-show__toggle
                    span.hide-show__show-text Раскрыть полностью
                    span.hide-show__hide-text Скрыть