extends _layout

block variables
    - var pageTitle = 'Станица новости'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    +link('Главная', '/')(class="breadcrumbs__link")
                    +icon('cheveron-right').breadcrumbs__icon
                li.breadcrumbs__item
                    span.breadcrumbs__text Новости политики
    .container
        .row
            .col-12.col-lg-8.single-news
                h1.page__title Новости политики
                
                .row
                    .slider.hero-slider.hero-slider--fluid--left.owl-carousel.single-news__slider
                        each hero in heroes['heroes']
                            .hero(style=`background-image: url(${hero.img})`)
                                +link(hero.label)(class="label")
                                br
                                time.hero__time 09.07.2018
                                +link(hero.title, '/news-item.html').hero__title
                                p.hero__text= hero.text
                h3.page__sub-subtitle Лента новостей
                .last-news
                    ul.last-news__list
                        each lastNewsItem in lastNews['lastNews']
                            li.last-news__item.news-item
                                .d-flex
                                    time.news-item__date.news-date(timestamp="")= lastNewsItem.date
                                    +link(lastNewsItem.title).news-item__title
                                if lastNewsItem.text
                                    p.news-item__text= lastNewsItem.text
            

            aside.col-12.col-lg-4.sidebar.sidebar--with-padding
                .socials.sidebar__socials
                    ul.socials__list
                        .socials__item
                            a.socials__link(href="#")
                                +icon('youtube')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('twitter')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('instagram')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('facebook')(class="socials__icon")
                a.bnr.sidebar__bnr(href="#")
                    img(src="img/temp/banner-2.jpg")
                h3.page__sub-subtitle Лента новостей
                .last-news
                    ul.last-news__list
                        each lastNewsItem in lastNews['lastNews']
                            li.last-news__item.news-item
                                if lastNewsItem.img
                                    a.news-item__img-wrap.lazy-container(href="#")
                                        img.b-lazy.news-item__img(data-src=lastNewsItem.img, alt="")
                                    +link('Политика')(class="label news-item__label")
                                .d-flex
                                    time.news-item__date.news-date(timestamp="")= lastNewsItem.date
                                    +link(lastNewsItem.title).news-item__title
                                if lastNewsItem.text
                                    p.news-item__text= lastNewsItem.text

    section.bnr-section
        .container
            a.bnr.bnr--small(style="background-image: linear-gradient(to right, #1D9CD8, #194382)")