extends _layout

block variables
    - var pageTitle = 'Станица новости'

block content
    .container
        .breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    +link('Главная', '/')(class="breadcrumbs__link")
                    +icon('cheveron-right').breadcrumbs__icon
                li.breadcrumbs__item
                    span.breadcrumbs__text Заголовок может быть разного размера
    .container
        .row
            .col-12.col-lg-8.single-news
                h1.page__title Заголовок может быть разного размера
                blockquote.quote
                    time.news-date(timestamp="") 13.05.2018
                    p.quote__text.
                        Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём.
                .row
                    .slider.hero-slider.hero-slider--fluid--left.owl-carousel.single-news__slider
                        each hero in heroes['heroes']
                            .hero(style=`background-image: url(${hero.img})`)
                .static-content
                    h2 Откуда он появился?
                    p. 
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                    p. 
                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                h2.page__subtitle Коментарии
                form.form.validate-form
                    .form__group
                        label.form__label(for="name") Мое имя и фамилия*
                        input.form__input.form__input--line--single#name
                    .form__group
                        label.form__label(for="message") Я пишу*
                        textarea.form__input.form__input--line--multi#message
                    .form__group.text-right
                        button.btn Отправить сообщение
                .comments.single-news__comments
                    each commentItem in comments['comments']
                        .comments__item.comment
                            if commentItem.img
                                .comment__img-wrap.comment__img-wrap--with-img
                                    img.comment__img(src=commentItem.img, alt="")
                            else 
                                .comment__img-wrap.comment__img-wrap--without-img
                                    span.comment__initials= commentItem.initials
                            blockqoute.comment__text
                                cite.comment__author=commentItem.author
                                br
                                time.comment__date=commentItem.date
                                p= commentItem.text

            aside.col-12.col-lg-4.sidebar.sidebar--with-padding
                .socials.sidebar__socials
                    ul.socials__list
                        .socials__item
                            a.socials__link(href="#")
                                +icon('youtube')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('twitter')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('instagram')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('facebook')(class="socials__icon")
                a.bnr.sidebar__bnr(href="#")
                    img(src="img/temp/banner-2.jpg")
                h3.page__sub-subtitle Лента новостей
                .last-news
                    ul.last-news__list
                        each lastNewsItem in lastNews['lastNews']
                            li.last-news__item.news-item
                                if lastNewsItem.img
                                    a.news-item__img-wrap.lazy-container(href="#")
                                        img.b-lazy.news-item__img(data-src=lastNewsItem.img, alt="")
                                    +link('Политика')(class="label news-item__label")
                                .d-flex
                                    time.news-item__date.news-date(timestamp="")= lastNewsItem.date
                                    +link(lastNewsItem.title).news-item__title
                                if lastNewsItem.text
                                    p.news-item__text= lastNewsItem.text

    section.bnr-section
        .container
            a.bnr.bnr--small(style="background-image: linear-gradient(to right, #1D9CD8, #194382)")

    section
        .container
            h2.page__subtitle О проекте
            .hide-show
                .hide-show__content.static-content
                    p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.
                .hide-show__toggle
                    span.hide-show__show-text Раскрыть полностью
                    span.hide-show__hide-text Скрыть