each searchItem in searchItems['searchItems']
    a.search__item(href="#")
        img.search__item-img(src=searchItem.img, alt="")
        .search__item-info
            span.search__item-title= searchItem.title
            time.search__item-date(timestamp="")= searchItem.date
            br
            span.label.label--small= searchItem.label