{% if is_granted('ROLE_ORDER_CREATE_EDIT') %}
    {#{{ render(controller('eCommerce\\OrderBundle\\Controller\\Dashboard\\OrderController::topNavigationMenu')) }}#}
{% endif %}

{% if is_granted('ROLE_CONTACT') %}
    {#{{ render(controller('SupportCenter\\ContactBundle\\Controller\\Dashboard\\ContactController::topNavigationMenu')) }}#}
{% endif %}

{% if is_granted('ROLE_CALLBACK') %}
    {#{{ render(controller('SupportCenter\\CallbackBundle\\Controller\\Dashboard\\CallbackController::topNavigationMenu')) }}#}
{% endif %}