<div class="col-12 col-lg-6">
    {{ render(controller('FrontendBundle:Frontend:newsFeed')) }}
    <div class="text-center">
        <a class="btn" href="{{ path('frontend_news_list') }}">Все новости</a>
    </div>
</div>