{% if newsSlider|length > 0 %}
    <div class="slider hero-slider hero-slider--offset--right hero-slider--fluid--left owl-carousel">
        {% for item in newsSlider %}
            <div class="hero owl-lazy"
                 data-src="{{ asset(item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }}">
                {% if item.newsCategory is not null %}
                    <a class="label" href="{{ path('frontend_news_category_show', {
                        'slug':  item.newsCategory.translations[ item.newsCategory.defaultLocale].slug
                    }) }}">{{ item.newsCategory.translate.title }}</a>
                {% endif %}
                <a class="hero__title" href="{{ path('frontend_news_show', {
                    'slug': item.translations[item.defaultLocale].slug
                }) }}">{{ item.translate.title }}</a>
                {% if item.translate.shortDescription is not null %}
                    <p class="hero__text">{{ item.translate.shortDescription }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}