{% if newsRAND|length > 0 %}
    <h3 class="page__sub-subtitle">Популярное</h3>
    <ul class="last-news__list">
        {% for item in newsRAND %}
            <li class="last-news__item news-item">
                <a rel="nofollow" class="news-item__img-wrap lazy-container" href="{{ path('frontend_news_show', {
                    'slug': item.translations[item.defaultLocale].slug
                }) }}">
                    <img class="b-lazy news-item__img"
                         data-src="{{ asset(item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }}" alt="">
                </a>
                {% if item.newsCategory is not null %}
                    <a class="label news-item__label" href="{{ path('frontend_news_category_show', {
                        'slug':  item.newsCategory.translations[ item.newsCategory.defaultLocale].slug
                    }) }}">{{ item.newsCategory.translate.title }}</a>
                {% endif %}

                <div class="d-flex">
                    <time class="news-item__date news-date" timestamp="">
                        {{ item.publishAt }}
                    </time>
                    <a class="news-item__title" href="{{ path('frontend_news_show', {
                        'slug': item.translations[item.defaultLocale].slug
                    }) }}">
                        {{ item.translate.title }}
                    </a>
                </div>
                {% if item.translate.shortDescription is not null %}
                    <p class="news-item__text">{{ item.translate.shortDescription }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}