{% if newsSlider|length > 0 %}
    <div class="slider hero-slider hero-slider--fluid--left owl-carousel single-news__slider">
        {% for item in newsSlider %}
            <div class="hero owl-lazy"
                 data-src="{{ asset(item.image|json_decode.show|default(asset('bundles/upload/images/no-image-400.png'))) }}">
            </div>

        {% endfor %}
    </div>
{% endif %}