{% if video|length > 0 %}
    <h3 class="page__sub-subtitle">Видео</h3>
    <div class="videos">
        {% for item in video %}
            {% if item.iframe is not null %}
                <div class="video-wrap videos__item">
                    <iframe class="video-wrap__video" src="{{ item.iframe }}" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="text-center">
        <a class="btn" href="{{ path('frontend_videos_list') }}">Все видео</a>
    </div>
{% endif %}