{% extends 'base.html.twig' %}

{% block main %}

    {% if banners is defined and banners is not empty and banners['header'] is defined %}
        <section class="bnr-section d-lg-block">
            <div class="container">
                <a rel="nofollow" class="bnr"
                   href="{% if banners['header'].url is not null %}{{ banners['header'].url }}{% else %}javascript:void(0);{% endif %}">
                    <img class="bnr__img"
                         src="{{ asset(banners['header'].logo|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }}"
                         alt="">
                </a>
            </div>
        </section>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row">
                    {% include 'frontend/homepage/_newsSlider.html.twig' %}
                    {% include 'frontend/homepage/_newsFeed.html.twig' %}
                    <div class="col-12 col-lg-6">
                        {% include 'frontend/homepage/_video.html.twig' %}
                        {% include 'frontend/homepage/_newsRAND.html.twig' %}
                    </div>
                </div>
            </div>

            <aside class="col-12 col-lg-4 sidebar">
                {% set day = {
                    '1': 'Понедельник',
                    '2': 'Вторник',
                    '3': 'Среда',
                    '4': 'Четверг',
                    '5': 'Пятница',
                    '6': 'Суббота',
                    '7': 'Воскресенье',
                } %}
                <div class="date sidebar__date">
                    <span class="date__day">{{ day["now"|date('w')] }}</span>
                    <br>
                    <time class="date__date"
                          timestamp="">{{ "now"|date()|localizeddate('long', 'none', 'ru', null, 'd') }} {{ "now"|date()|localizeddate('long', 'none', 'ru', null, 'MMMM') }}
                        , {{ "now"|date()|localizeddate('long', 'none', 'ru', null, 'YYYY') }}</time>
                </div>

                <div class="logo sidebar__logo">
                    <img src="{{ asset('bundles/frontend/img/logo-blue.svg') }}">
                </div>

                {% include 'frontend/default/_sidebar_socials.html.twig' %}

                {{ render(controller('FrontendBundle\\Controller\\DefaultController::initSidebarBannerAction')) }}

                {% if opinion|length > 0 %}
                    <h3 class="page__sub-subtitle">Мнения</h3>
                    <div class="opinions">
                        {% for item in opinion %}
                            <div class="opinion opinions__item">
                                <div class="opinion__img-wrap">
                                    <img class="opinion__img"
                                         src="{{ item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png')) }}"
                                         alt="">
                                </div>
                                <div class="opinion__info">
                                    <span class="opinion__author">{{ item.translate.title }}</span>
                                    <p class="opinion__text">{{ item.translate.shortDescription }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if info|length > 0 %}
                    <h3 class="page__sub-subtitle">Инфографика</h3>
                    <div class="infographics">
                        {% for item in info %}
                            <div class="infographics-item">
                                <div class="infographics-item__img-wrap">
                                    <img class="infographics-item__img"
                                         src="{{ item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png')) }}"
                                         alt="">
                                </div>
                                <div class="infographics-item__text">
                                    {{ item.translate.shortDescription }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h3 class="page__sub-subtitle">Календарь событий</h3>
                <div class="calendar" id="calendar"></div>
            </aside>
        </div>
    </div>

    <section class="bnr-section">
        <div class="container">
            <a rel="nofollow" class="bnr bnr--small" style="background-image: linear-gradient(to right, #1D9CD8, #194382)"></a>
        </div>
    </section>
{% endblock %}