body {
    background-color: $base-bg-color;
}

a,
button {
    transition: color .35s, background-color .35s, border-color .35s;
}

.freezed {
	@include from-xs-to-lg() {
		position: fixed;
		width: 100%;
		height: 100%;
	}

	overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background-color: rgba($secondary-color, .15);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba($primary-color, .75);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: $primary-color;
}