html {
	-ms-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	-webkit-font-smoothing: antialiased;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a { text-decoration: none; }
*,
*::after,
*::before {
	box-sizing: border-box;
}
button:not([disabled]) {cursor: pointer;}
img {
	max-width: 100%;
	vertical-align: middle;
}
main {
	display: block;
}
*:focus {
	outline: 0;
}

//IOS support
/*textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}*/

//Remove spin buttons on input[type="number"]
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}*/

//Remove default input[type="search"] styling
/*input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}*/

