//Colors
$primary-color: #194382;
$secondary-color: #1D9CD8;
$grey-color: #4F5559;
$red-color: #E4003A;
$blue-color: #88C3EA;
$default-link-color: #009EE3;
$yellow-color: #FFCC00;

//Fonts
$font-stack-georgia: "Georgia", Georgia, Times, Times New Roman, serif; 
$font-stack-verdana: "Verdana", "Geneva", sans-serif;

//Backgrounds
$base-bg-color: #FFF;



