.btn {
    font: 700 cRem(14px)/cRem(50px) "MuseoSans";
    background-color: $secondary-color;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 2rem;
    color: #FFF;
    height: 3rem;
    padding: 0 3rem;
    display: inline-block;

    &:hover {
        background-color: $primary-color;
    }
}