<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block seo_title %}
        {% include '@Seo/frontend/_head_meta.html.twig' %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('build/frontend/css/main.css') }}">
    {% block head_stylesheets %}{% endblock %}
    {% block head_javascript %}{% endblock %}
</head>

<body class="page">
<div class="page__wrapper">
    {% block header %}
        {{ render(controller('FrontendBundle\\Controller\\DefaultController::initHeaderAction')) }}
    {% endblock %}
    <main class="page__content">
        {% block main %}{% endblock %}
    </main>
    {% block footer %}
        {{ render(controller('FrontendBundle:Default:initFooter')) }}
    {% endblock %}
</div>
<script src="{{ asset('bundles/frontend/js/svg4everybody.js') }}"></script>
<script>svg4everybody();</script>
<script src="{{ asset('build/frontend/js/main.js') }}"></script>
{% include 'frontend/default/_flashbags.html.twig' %}
</body>
</html>