footer.page-footer.page__footer
    .page-footer__inner.container
        .row
            .col-12.col-lg-3
                .page-footer__logo-wrap
                    img.page-footer__logo(src="img/logo.svg", alt="logo")
                    img.page-footer__logo-map(src="img/map.png", alt="")
            .col-12.col-lg-9
                .sitemap
                    ul.sitemap__list.page-footer__sitemap
                        each sitemapItem in sitemap['items']
                            li.sitemap__item
                                +link(sitemapItem.title, sitemapItem.href)(class="sitemap__link")
                .page-footer__copyright
                    p © 2000-2018, ООО «Региональное  агенство новостей». Все права защищены.
                    p Использование любых материалов, размещённых на сайте, разрешается при условии ссылки на pressa.net. При копировании материалов со страниц  для интернет-изданий – обязательна прямая открытая для поисковых систем гиперссылка. Ссылка должна быть размещена в независимости от полного либо частичного использования материалов. Гиперссылка (для интернет- изданий) – должна быть размещена в подзаголовке или в первом абзаце материала.
                .socials.socials--theme--white.page-footer__socials
                    ul.socials__list
                        .socials__item
                            a.socials__link(href="#")
                                +icon('youtube')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('twitter')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('instagram')(class="socials__icon")
                        .socials__item
                            a.socials__link(href="#")
                                +icon('facebook')(class="socials__icon")