header.page-header.page__header
    .page-header__inner.container
        button.page-header__btn.js-nav-open
            +icon('hamburger')
        a.page-header__logo-wrap(href="#")
            img.page-header__logo(src="img/logo.svg", alt="")
        nav.page-header__nav
            .page-header__nav-inner
                ul.page-header__nav-list
                    each navItem in siteNav['siteNav']
                        li.page-header__nav-item
                            +link(navItem.title, navItem.href)(class="page-header__nav-link")
                .page-header__nav-left-block
                    ul.page-header__nav-list.page-header__nav-list--column
                        - var n = 0;
                        while n < 5
                            li.page-header__nav-item
                                +link(`Категория ${n}`)(class="page-header__nav-link")
                            - n++;
                    button.page-header__nav-close-btn.page-header__btn.js-nav-close
                        +icon('close')
        .page-header__search-holder
        form.page-header__search-form
            .search(data-url="search-items.html")
                input.search__input(type="text", autocomplete="off")
                button.search__btn(type="reset")
                .search__results
                    .search__items.custom-scrollbar
                    button.search__submit Посмотреть все результаты
    .page-header__search-overlay
                
