{% if static['about'] is defined and static['about'].text is not empty %}
    <section>
        <div class="container">
            <h2 class="page__subtitle">О проекте</h2>
            <div class="hide-show">
                <div class="hide-show__content static-content">
                    {{ static['about'].text|raw }}
                </div>
                <div class="hide-show__toggle">
                    <span class="hide-show__show-text">Раскрыть полностью</span>
                    <span class="hide-show__hide-text">Скрыть</span>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<footer class="page-footer page__footer">
    <div class="page-footer__inner container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="page-footer__logo-wrap">
                    <img class="page-footer__logo" src="{{ asset('bundles/frontend/img/logo.svg') }}" alt="logo">
                    <img class="page-footer__logo-map" src="{{ asset('bundles/frontend/img/map.png') }}" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="sitemap">
                    <ul class="sitemap__list page-footer__sitemap">
                        <li class="sitemap__item">
                            <a class="sitemap__link"
                               href="{{ path('frontend_contact_index', {'_locale': app.request.locale}) }}">Контакты</a>
                        </li>
                        <li class="sitemap__item">
                            <a class="sitemap__link" href="javascript:void(0);">
                                Реклама на сайте</a>
                        </li>
                        <li class="sitemap__item">
                            <a class="sitemap__link" href="javascript:void(0);">
                                Использование материалов</a>
                        </li>
                        <li class="sitemap__item">
                            <a class="sitemap__link" href="javascript:void(0);">
                                Правила пользования</a>
                        </li>
                    </ul>
                </div>

                {% if static['footer'] is defined and static['footer'].text is not empty %}
                    <div class="page-footer__copyright">
                        {{ static['footer'].text|raw }}
                    </div>
                {% endif %}

                <div class="socials socials--theme--white page-footer__socials">
                    <ul class="socials__list">
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="youtube">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#youtube"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="twitter">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#twitter"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="instagram">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="socials__item">
                            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                                <svg class="svg-icon socials__icon" role="img" title="facebook">
                                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook"></use>
                                </svg>
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>