<div class="socials sidebar__socials">
    <ul class="socials__list">
        <div class="socials__item">
            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                <svg class="svg-icon socials__icon" role="img" title="youtube">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#youtube"></use>
                </svg>
            </a>
        </div>
        <div class="socials__item">
            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                <svg class="svg-icon socials__icon" role="img" title="twitter">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#twitter"></use>
                </svg>
            </a>
        </div>
        <div class="socials__item">
            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                <svg class="svg-icon socials__icon" role="img" title="instagram">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#instagram"></use>
                </svg>
            </a>
        </div>
        <div class="socials__item">
            <a rel="nofollow" class="socials__link" href="javascript:void(0);">
                <svg class="svg-icon socials__icon" role="img" title="facebook">
                    <use xlink:href="{{ asset('bundles/frontend/img/icons/svg/sprite.symbol.svg') }}#facebook"></use>
                </svg>
            </a>
        </div>
    </ul>
</div>