{% if banners is defined and banners is not empty and banners['banner_2'] is defined %}
    <a rel="nofollow" class="bnr sidebar__bnr"
       href="{% if banners['banner_2'].url is not null %}{{ banners['banner_2'].url }}{% else %}javascript:void(0);{% endif %}">
        <img src="{{ asset(banners['banner_2'].logo|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }}">
    </a>
{% endif %}