<div class="row">
    <div class="slider hero-slider hero-slider--fluid--left owl-carousel single-news__slider">
        {% for item in news %}
            {% if item.newsCategory %}
                {% set url =  path('frontend_news_show', {
                    'slug': item.translations[item.defaultLocale].slug,
                    'categorySlug': item.newsCategory.translations[item.newsCategory.defaultLocale].slug,
                }) %}
            {% else %}
                {% set url =  path('frontend_news_show', {
                    'slug': item.translations[item.defaultLocale].slug,
                }) %}
            {% endif %}
            <div class="hero" style="background-image: url({{ asset(item.poster|json_decode.default_file|default(asset('bundles/upload/images/no-image-400.png'))) }})">
                {% if item.newsCategory %}
                    <a class="label" href="{{ path('frontend_news_category_show', {
                        'slug': item.newsCategory.translations[item.newsCategory.defaultLocale].slug
                    }) }}">
                        {{ item.newsCategory.translate.title }}
                    </a>
                {% endif %}
                <br>
                <time class="hero__time">{{ item.publishAt|localizeddate('short', 'none', 'ru') }}</time>
                <a class="hero__title" href="{{ url }}">{{ item.translate.title }}</a>
                {% if item.translate.shortDescription is not null %}
                    <p class="hero__text">{{ item.translate.shortDescription }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>